slides > slide.title-slide hgroup h1 { 
      font-size: 50pt;
      color:DarkCyan;
    }

#nextsteps {
  
   color: CornflowerBlue;
}

.emphasized {
   font-size: 1.2em;
}


#usingcss {
  
   color: DarkOrange;
}

.emphasized {
   font-size: 1.0em;
}